<%@users.each do |user|%>
<div>
  <%if user.user_setting%>
    <h4><%=link_to "#{user.first_name} #{user.last_name}" , user_path(user)%></h4>
   <%if user.gender == "F" %>
    <%="Gender: female"%>
    <%else%>
    <%="Gender: male"%>
    <%end%><br>
  <%="#{user.first_name}'s goal: #{user.goal}"%>
  <%end%>
</div>
<%end%>
