<%=form_for(@user_food) do |f|%>
	<div class="row">
		<div class="col-md-4">
			<label>Add New Food</label>
			<%=f.collection_select :food_id, Food.all, :id, :name, {:prompt => true}, {:class => 'form-control'}%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label>Servings</label>
			<%=f.select :servings,options_for_select(1..10), {}, {:class => 'form-control'} %>
		</div>
	</div>
 	<div>
 		<%=f.submit "Edit #{@user_food.food.name}", class:"btn btn-primary"%>
 	</div>
<%end%>






